<div class="search-items">
    <div class="image">
        <a href="/article/transportArticle/<%= likeArticles[k].name_alias %>">
            <img src="<%= likeArticles[k].hero_image %>" alt="">
        </a>
    </div>
    <div class="content">
        <a href="/article/transportArticle/<%=likeArticles[k].name_alias %>"><div class="title-section"><%= likeArticles[k].heading %></div></a>
        <div class="date"><%= likeArticles[k].day_created %></div>
        <div class="description">
            <p>
                <a href="/article/transportArticle/<%= likeArticles[k].name_alias %>">
                    <%= likeArticles[k].content %>
                </a>
            </p>
        </div>
    </div>
</div>