<%- include("partials/header.ejs") %>

        <div class="page-container">
            
            <div class="article-title con900">
                <div class="article-title-info">
                    <h6 class="article-cat-name"> 
                        <% if ( categoryDetals.parent_category) { %>
                            <%= categoryDetals.parent_category %> 
                            <i class="bi bi-caret-right-fill"></i>
                            <%= categoryDetals.child_category %>
                        <% } else { %>
                            <%= categoryDetals.child_category %>
                        <% } %> 
                        
                    </h6>

                    <h2><%= articleDetals.heading %></h2>
                </div>

                <div class="article-under-title">
                    <div class="article-title-author-info">
                        <p class="author-name"><%= userDetals.username %></p>  
                        <p class="author-upload-info"><%= formattedDate %></p>
                    </div>

                    <div class="article-title-share">
                        <a href=""><i class="bi bi-facebook fs-3 article-icon"></i></a>
                        <a href=""><i class="bi bi-messenger fs-3 article-icon"></i></a>
                        <a href=""><i class="bi bi-twitter-x fs-3 article-icon"></i></a>
                    </div>
                </div>

                
            </div>

            <div class="hero-image container">
                <img src="<%= articleDetals.hero_image%>" alt="">
                <div class="red-background"></div>
            </div>

            <div class="article-body con900">
                <% articleDetals.content.split(/\r\n+/).forEach(function(paragraph) { %>
                    <p><%= paragraph %></p>
                  <% }); %>
            </div>

            <div class="comment-section container">

                <img src="../assets/vectors/goBackBtn.png" alt="" class="go-back-button">

                <div class="comment-section-container container">

                    <h3>Bình luận</h3>

                    <div class="comment-numbers"><span class="comment-num"><%= comments.length %></span><p>bình luận</p></div>
                    
                    <div class="comment-section-user con900">

                        <div class="user-info">
                            <img src="../assets/vectors/avatarComment.png" alt="" class="user-avatar">
                            <h3 class="user-name"><%= user %></h3>
                        </div>

                        <div class="comment-input">
                            <form id="comment-form" action="/article/comment/<%= articleDetals.name_alias%>" method="POST">
                                <input type="text" placeholder="Hãy để lại bình luận của bạn." class="user-comment" name="commentInp">
                                <div class="comment-input-button">
                                    <button type="submit" disabled id="publish-button" class="btn btn-outline-primary">Đăng tải</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>

                    <div class="comments con1140">
                        <% for (let i = 0; i < comments.length; i++ ) { %>
                           <% if (comments[i].id_parent == null) { %> 
                                <div class="parents">
                                    <div class="info-commented-container">
                                        <img src="">
                                        <div class="user-commented">
                                            <div class="user-commented-info">
                                                <h3><%= comments[i].username %><h3>
                                                <span class="date"><%= comments[i].day_created %></span>
                                            </div>
                                            <p> <%= comments[i].comment_content %> </p>
                                        </div>
                                    </div> 
                        
                                    <div class="engagements">
                                        <div class="engagement-likes">
                                            <span class="likes-numbers"><%= comments[i].like_count %></span>
                                            <form action="/article/likeComment" method="POST" style="display: inline;">
                                                <!-- Input ẩn để gửi data-id -->
                                                <input type="hidden" name="data-id" value="<%= comments[i].id_comment %>">
                                                <button type="submit" class="btn btn-link p-0">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="engagement-replies">
                                            <button id="btnReply" type="button" class="btn btn-link">Trả lời</button>
                                        </div>
                                    </div>
                        
                                    <div class="reply-box hidden">
                                        <div class="comment-section-user comment-reply">
                                            <div class="user-info">
                                                <img src="../assets/vectors/avatarComment.png" alt="" class="user-avatar">
                                                <h3 class="user-name"><%= user %></h3>
                                            </div>
                        
                                            <div class="comment-input">
                                                <form id="comment-form" action="/article/commentChild/<%= articleDetals.name_alias %>" method="POST">
                                                    <input type="text" placeholder="Hãy để lại bình luận của bạn." class="user-comment" name="commentInp" data-id="<%= comments[i].id_comment %>">
                                                    <!-- Input ẩn để gửi data-id -->
                                                    <input type="hidden" name="parentCommentId" value="<%= comments[i].id_comment %>">
                                                    <div class="comment-input-button">
                                                        <button type="submit" disabled id="publish-button" class="btn btn-outline-primary publish-reply">Đăng tải</button>
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                                <% for (let j = 0; j < comments.length; j++ ) { %>
                                    <% if (comments[j].id_parent == comments[i].id_comment) {%>
                                        <div class="reply">
                                            <div class="info-commented-container">
                                                <img src="../assets/vectors/avatarComment.png">
                                                <div class="user-commented">
                                                    <div class="user-commented-info">
                                                        <h3><%= comments[j].username %></h3>
                                                        <span class="date"><%= comments[j].day_created %></span>
                                                    </div>
                                                    <p><%= comments[j].comment_content %></p>
                                                </div>
                                                <div class="engagements">
                                                    <div class="engagement-likes">
                                                        <span class="likes-numbers"><%= comments[j].like_count %></span>
                                                        <form action="/article/likeComment" method="POST" style="display: inline;">
                                                            <!-- Input ẩn để gửi data-id -->
                                                            <input type="hidden" name="data-id" value="<%= comments[j].id_comment %>">
                                                            <button type="submit" class="btn btn-link p-0">
                                                                <i class="bi bi-hand-thumbs-up"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <!-- <div class="engagement-replies">
                                                        <button id="btnReply" type="button" class="btn btn-link">Trả lời</button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    <% } %> 
                                <% } %>
                    
                            
                        <% } %>
                    </div>

                </div>

            </div>

            <div class="tin-lien-quan-section">
                <div class="tin-lien-quan-container container">
                    <div class="tin-lien-quan-line-container">
                        <img src="../assets/vectors/line.png" alt="">
                    </div>
                    <h3>Tin Liên Quan</h3>
                </div>

                <div class="tin-lien-quan-layout container">
                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                    <div class="tin-lien-quan-item-container">
                        <img src="../assets/chiTietBaiVietImages/tlqImage.png" alt="" class="tlq-image">
                        <div class="tlq-title">
                            <h3 class="tlq-heading">Muller thách thức HLV Flick trước trận Barca - Bayern</h3>
                            <p class="tlq-sub-article">
                                Tiền đạo Bayern Thomas Muller gửi thông điệp thách thức thầy cũ Hansi Flick 
                                khi lên đường tới Tây Ban Nha chuẩn bị cho trận đấu.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        
<%- include("partials/footer.ejs") %>

