<%- include("partials/header.ejs") %>

        <div class="red-background-homepage"></div>

        <div class="page-body">

            <% if (TopArticlesEachCate.length >= 1) { %>
                <div class="tin-tuc-noi-bat container">
                
                    <div class="heading">
                        <h2>Tin tức nổi bật</h2>
                    </div>

                    <div class="big-news">
                        
                        <div class="big-news-image">
                            <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="4000">
                                    <a href="/article/transportArticle/<%= topArticles[0].name_alias %>"><img src="<%= topArticles[0].hero_image %>" class="d-block w-100 big-news-img" alt="..."></a>
                                    <div class="big-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[0].name_alias %>">
                                            <h2 class="big-news-heading">
                                                <%= topArticles[0].heading %>
                                            </h2>
                                        </a>
            
                                        <a href="/article/transportArticle/<%= topArticles[0].name_alias %>">
                                            <p class="big-news-article">
                                                <%= topArticles[0].content %>
                                            </p>
                                        </a>
                                    </div>
                                  </div>
                                  <div class="carousel-item" data-bs-interval="4000">
                                    <a href="/article/transportArticle/<%= topArticles[1].name_alias %>"><img src="<%= topArticles[1].hero_image %>" class="d-block w-100 big-news-img" alt="..."></a>
                                    <div class="big-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[1].name_alias %>">
                                            <h2 class="big-news-heading">
                                                <%= topArticles[1].heading %>
                                            </h2>
                                        </a>
            
                                        <a href="/article/transportArticle/<%= topArticles[1].name_alias %>">
                                            <p class="big-news-article">
                                                <%= topArticles[1].content %>
                                            </p>
                                        </a>
                                    </div>
                                  </div>
                                  <div class="carousel-item" data-bs-interval="4000">
                                    <a href="/article/transportArticle/<%= topArticles[2].name_alias %>"><img src="<%= topArticles[2].hero_image %>" class="d-block w-100 big-news-img" alt="..."></a>
                                    <div class="big-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[2].name_alias %>">
                                            <h2 class="big-news-heading">
                                                <%= topArticles[2].heading %>
                                            </h2>
                                        </a>
            
                                        <a href="/article/transportArticle/<%= topArticles[2].name_alias %>">
                                            <p class="big-news-article">
                                                <%= topArticles[2].content %>
                                            </p>
                                        </a>
                                    </div>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>

                    </div>

                    <div class="second-news">
                        <div id="carouselExampleSlidesOnlySecondNews" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            
                            <div class="carousel-inner">
                                <!--  -->
                                <div class="carousel-item active" data-bs-interval="7000"> 
                                    <img src="../assets/transparentPanel.png" alt="" class="transparent-panel-second-news">
                                    <a href="/article/transportArticle/<%= topArticles[3].name_alias %>"><img src="<%= topArticles[3].hero_image %>" class="d-block w-100 image-content" alt="..."></a>
                                    <div class="second-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[3].name_alias %>">
                                            <h2 class="second-news-title-text">
                                                <%= topArticles[3].heading %>
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="7000">
                                    <img src="../assets/transparentPanel.png" alt="" class="transparent-panel-second-news">
                                    <a href="/article/transportArticle/<%= topArticles[4].name_alias %>"><img src="<%= topArticles[4].hero_image %>" class="d-block w-100 image-content" alt="..."></a>
                                    <div class="second-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[4].name_alias %>">
                                            <h2 class="second-news-title-text">
                                                <%= topArticles[4].heading %>
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="7000">
                                    <img src="../assets/transparentPanel.png" alt="" class="transparent-panel-second-news">
                                    <a href="/article/transportArticle/<%= topArticles[5].name_alias %>"><img src="<%= topArticles[5].hero_image %>" class="d-block w-100 image-content" alt="..."></a>
                                    <div class="second-news-title">
                                        <a href="/article/transportArticle/<%= topArticles[5].name_alias %>">
                                            <h2 class="second-news-title-text">
                                                <%= topArticles[5].heading %>
                                            </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="third-news">
                        <div id="carouselExampleSlidesOnlyThirdNews" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!--  -->
                                <div class="carousel-item active carousel-item-2" data-bs-interval="10000">

                                    <a href="/article/transportArticle/<%= topArticles[6].name_alias %>">
                                        <img src="<%= topArticles[6].hero_image %>" class="d-block w-100 image-content-1" alt="...">
                                    </a>

                                    <div class="third-news-title">

                                        <a href="/article/transportArticle/<%= topArticles[6].name_alias %>">
                                            <h2 class="third-news-heading">
                                                <%= topArticles[6].heading %>
                                            </h2>
                                        </a>

                                        <a href="/article/transportArticle/<%= topArticles[6].name_alias %>">
                                            <p class="third-news-article">
                                                <%= topArticles[6].content %>
                                            </p>
                                        </a>

                                    </div>

                                </div>
                                <div class="carousel-item carousel-item-2" data-bs-interval="10000">
                                    <a href="/article/transportArticle/<%= topArticles[7].name_alias %>"><img src="<%= topArticles[7].hero_image %>" class="d-block w-100 image-content-1" alt="..."></a>
                                    <div class="third-news-title">

                                        <a href="/article/transportArticle/<%= topArticles[7].name_alias %>">
                                            <h2 class="third-news-heading">
                                                <%= topArticles[7].heading %>
                                            </h2>
                                        </a>

                                        <a href="/article/transportArticle/<%= topArticles[7].name_alias %>">
                                            <p class="third-news-article">
                                                <%= topArticles[7].content %>
                                            </p>
                                        </a>

                                    </div>
                                </div>
                                <div class="carousel-item carousel-item-2" data-bs-interval="10000">
                                    <a href="/article/transportArticle/<%= topArticles[8].name_alias %>"><img src="<%= topArticles[8].hero_image %>" class="d-block w-100 image-content-1" alt="..."></a>
                                    <div class="third-news-title">

                                        <a href="/article/transportArticle/<%= topArticles[8].name_alias %>">
                                            <h2 class="third-news-heading">
                                                <%= topArticles[8].heading %>
                                            </h2>
                                        </a>

                                        <a href="/article/transportArticle/<%= topArticles[8].name_alias %>">
                                            <p class="third-news-article">
                                                <%= topArticles[8].content %>
                                            </p>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 2) { %>
                <div class="thoi-su-section container">
                <div class="page-containerThoisu">
                    <div class="headerThoisu">
                        THỜI SỰ - <%= categoryTree[0].name %>
                    </div>
                    <div class="containerThoisu">
                        <div class="leftColumnThoisu">
                            <a class="mainUrl" href="/article/transportArticle/<%= TopArticlesEachCate[0][0].name_alias %>">
                                <img class="mainImageThoisu" src="<%= TopArticlesEachCate[0][0].hero_image%>" alt="Thu tuong Denys">
                            </a>
                            <a  class="mainUrl" href="/article/transportArticle/<%= TopArticlesEachCate[0][0].name_alias %>">
                                <h2 class="articleTitleThoisu"><%= TopArticlesEachCate[0][0].heading%></h2>
                            </a>
                            <div style="width: 100%; height: 120px; overflow: hidden;">
                                <a class="mainUrl" href="/article/transportArticle/<%= TopArticlesEachCate[0][0].name_alias %>">
                                    <p class="articleParagraphThoisu"><%= TopArticlesEachCate[0][0].content%></p>
                                </a>
                            </div>
                        </div>
                        <div class="middleLineThoisu"></div>
                        <div class="rightColumnThoisu">
        
                            <div class="scrollableContentThoisu">
                                <% for (let b = 0; b < TopArticlesEachCate[0].length; b++ ) { %>
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[0][b].name_alias %>">
                                        <div class="newsItemThoisu" data-img="<%= TopArticlesEachCate[0][b].hero_image%>" data-title="<%= TopArticlesEachCate[0][b].heading%>" data-paragraph="<%= TopArticlesEachCate[0][b].content%>" data-name="<%= TopArticlesEachCate[0][b].name_alias %>">
                                            <h4 class="newsTitleThoisu"><%= TopArticlesEachCate[0][b].heading%></h4>
                                            <p class="newsParagraphThoisu"><%= TopArticlesEachCate[0][b].content%> %></p>
                                            <!-- <img class="newsImageThoisu" alt="News 1">  -->
                                        </div>
                                    </a>
                                    <% if ( b != TopArticlesEachCate[0].length - 1) { %>
                                        <div class="separatorLineThoisu"></div>
                                    <% }%>
                                <% } %>

                            </div>
                        </div>
                         <div class="customScrollbarThoisu">
                            <div class="scrollbarButtonThoisu"></div>
                        </div>
                    </div>
                </div>
                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 3) { %>
                <div class="khoa-hoc-cong-nghe container">
                <div class="container-1320">
                    <div class="container-left">

                        <div class="content-left">
                            <div class="left-title">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][4].name_alias %>"><p><%= TopArticlesEachCate[1][4].heading %></p></a>
                            </div>
                            <div class="img-description">
                                <div class="left-img">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][4].name_alias %>"><img src="<%= TopArticlesEachCate[1][4].hero_image %>"/></a>
                                </div>
                                <div class="left-description">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][4].name_alias %>"><p><%= TopArticlesEachCate[1][4].content %></p></a>
                                </div>
                            </div>
                        </div>

                        <div class="content-left">
                            <div class="left-title">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][5].name_alias %>"><p><%= TopArticlesEachCate[1][5].heading %></p></a>
                            </div>
                            <div class="img-description">
                                <div class="left-img">
                                   <a href="/article/transportArticle/<%= TopArticlesEachCate[1][5].name_alias %>"><img src="<%= TopArticlesEachCate[1][5].hero_image %>"/></a>
                                </div>
                                <div class="left-description">
                                    <a href="../html/chiTietBaiViet.html"><p><%= TopArticlesEachCate[1][5].content %></p></a>
                                </div>
                            </div>
                        </div>

                        <div class="content-left">
                            <div class="left-title">
                               <a href="/article/transportArticle/<%= TopArticlesEachCate[1][6].name_alias %>"><p><%= TopArticlesEachCate[1][6].heading %></p></a>
                            </div>
                            <div class="img-description">
                                <div class="left-img">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][6].name_alias %>"><img src="<%= TopArticlesEachCate[1][6].hero_image %>"/></a>
                                </div>
                                <div class="left-description">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][6].name_alias %>"><p><%= TopArticlesEachCate[1][6].content %></p></a>
                                </div>
                            </div>
                        </div>

                        <div class="content-left">
                            <div class="left-title">
                              <a href="/article/transportArticle/<%= TopArticlesEachCate[1][7].name_alias %>"><p><%= TopArticlesEachCate[1][7].heading %></p></a>
                            </div>
                            <div class="img-description">
                                <div class="left-img">
                                   <a href="/article/transportArticle/<%= TopArticlesEachCate[1][7].name_alias %>"><img src="<%= TopArticlesEachCate[1][7].hero_image %>"/></a>
                                </div>
                                <div class="left-description">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][7].name_alias %>"><p><%= TopArticlesEachCate[1][7].content %></p></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="content-left">
                            <div class="left-title">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][8].name_alias %>"><p><%= TopArticlesEachCate[1][8].heading %></p></a>
                            </div>
                            <div class="img-description">
                                <div class="left-img">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][8].name_alias %>"><img src="<%= TopArticlesEachCate[1][8].hero_image %>"/></a>
                                </div>
                                <div class="left-description">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[1][8].name_alias %>"><p><%= TopArticlesEachCate[1][8].content %></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div>
                        <img src="../assets/section3KhoaHocCongNgheImages/dongKeOGiua.png" />
                    </div>
            
                    <div class="container-right">
                        <div class="container-right-heading">
                            <div class="container-right-title">
                                <a href="/category/firstcategory/<%= categoryTree[1].name_alias%>?page=1&limit=15"><h3 class="body-title-category"><%= categoryTree[1].name %></h3></a>    
                            </div>
                            <% if (categoryTree[1].children.length) { %>
                                <div class="container-right-small-title">
                                    <% for ( var j = 0; j < categoryTree[1].children.length; j++ ) { %>
                                        <a href="/category/secondcategory/<%= categoryTree[1].children[j].name_alias%>?page=1&limit=15"><p class="sub-menu-button"><%= categoryTree[1].children[j].name %></p></a>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
            
                        <div class="container-right-image">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[1][0].name_alias %>">
                                <img src="<%= TopArticlesEachCate[1][0].hero_image %>" />
                                <img src="../assets/transparentPanel.png" alt="">
                            </a>
                            <div class="container-right-image-description">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][0].name_alias %>">
                                    <p><%= TopArticlesEachCate[1][0].heading %></p>
                                </a>
                            </div>
                        </div>
            
                        <div class="container-right-card">
                            <div class="container-right-card-content">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][1].name_alias %>">
                                    <h3><%= TopArticlesEachCate[1][1].heading %></h3>
                                </a>
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][1].name_alias %>">
                                    <p><%= TopArticlesEachCate[1][1].heading %></p> 
                                </a>
                            </div>
            
                            <div class="container-right-card-content">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][2].name_alias %>">
                                    <h3><%= TopArticlesEachCate[1][2].heading %></h3>
                                </a>
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][2].name_alias %>">
                                    <p><%= TopArticlesEachCate[1][2].heading %></p> 
                                </a>
                            </div>
            
                            <div class="container-right-card-content right-card-last">
                               <a href="/article/transportArticle/<%= TopArticlesEachCate[1][3].name_alias %>">
                                    <h3><%= TopArticlesEachCate[1][3].heading %></h3>
                                </a>
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[1][3].name_alias %>">
                                    <p><%= TopArticlesEachCate[1][3].heading %></p> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 4) { %>
                <div class="suc-khoe-section container">
                
                <div class="giai-tri-1-section-heading">
                    <div class="giai-tri-1-section-title">
                        <a href="/category/firstcategory/<%= categoryTree[2].name_alias%><%= categoryTree[2].name_alias%>?page=1&limit=15"><h3 class="body-title-category"><%= categoryTree[2].name %></h3></a>
                    </div>
                    <% if (categoryTree[2].children.length) { %>
                        <div class="giai-tri-1-section-sub-title">
                            <% for ( var j = 0; j < categoryTree[2].children.length; j++) {%>
                                <a href="/category/secondcategory/<%= categoryTree[2].children[j].name_alias%>?page=1&limit=15"><p class="sub-menu-button"><%= categoryTree[2].children[j].name %></p></a>
                            <% } %>
                        </div>
                    <% } %>
                </div>

                <div class="content1 container">
                    
                    <!-- Hai bài viết đầu -->
                    <div class="articles">
                      <div class="article1">
                        <div class="article-suckhoe-container">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[2][0].name_alias %>">
                                <img src="<%= TopArticlesEachCate[2][0].hero_image %>" alt="Bài 1">
                            </a>
                        </div>
                        <div class="article-text">
                          <a href="/article/transportArticle/<%= TopArticlesEachCate[2][0].name_alias %>">
                            <h3><%= TopArticlesEachCate[2][0].heading %></h3>
                          </a>
                          <a href="/article/transportArticle/<%= TopArticlesEachCate[2][0].name_alias %>">
                            <p><%= TopArticlesEachCate[2][0].content %></p>
                          </a>
                        </div>
                      </div>
                      <div class="article1">
                        <div class="article-suckhoe-container">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[2][1].name_alias %>">
                                <img src="<%= TopArticlesEachCate[2][1].hero_image %>" alt="Bài 2">
                            </a>
                        </div>
                        <div class="article-text">
                          <a href="/article/transportArticle/<%= TopArticlesEachCate[2][0].name_alias %>">
                            <h3><%= TopArticlesEachCate[2][1].heading %></h3>
                          </a>
                          <a href="/article/transportArticle/<%= TopArticlesEachCate[2][0].name_alias %>">
                            <p><%= TopArticlesEachCate[2][1].content %></p>
                          </a>
                        </div>
                      </div>
                    </div>
                  
                    <div class="divider"></div>
                  
                    <div class="container1">
                        <% let lenCate = TopArticlesEachCate[2].length;  
                            if ( TopArticlesEachCate[2].length >= 10 ) lenCate = 8; %>
                      <% for ( let l = 2; l < lenCate; l++ ) { %>
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[2][l].name_alias %>">
                            <div class="card1">
                                <div class="card1-image"><img src="<%= TopArticlesEachCate[2][l].hero_image %>" alt=""></div>
                                <div class="card1-header"><%= TopArticlesEachCate[2][l].heading %></div>
                                <div class="card1-content">
                                <h3 class="card1-title"><%= TopArticlesEachCate[2][l].heading %></h3>
                                <p class="card1-description">
                                    <%= TopArticlesEachCate[2][l].content %>
                                </p>
                                </div>
                            </div>
                        </a>
                      <% } %>
                
                    </div>
                  </div>
                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 5) { %>
                <div class="the-thao-section">

                <img src="../assets/trangChuImages/theThaoSectionBackground.png" alt="" class="the-thao-red-background">

                <div class="black-background-container container">
                    <div class="black-background container">
                        <div class="the-thao-section-container">
                            <div class="the-thao-section-header-container">
                                <h2 class="the-thao-section-header">THỂ THAO</h2>
                                <h3 class="the-thao-section-sub-header">Tổng hợp tin tức nóng hổi nhất liên quan đến thể thao</h3>
                                <div class="the-thao-red-line-container">
                                    <img src="../assets/trangChuImages/theThaoSectionLine.png" alt="" class="the-thao-section-line">
                                </div>     
                            </div>

                            <div class="the-thao-section-body-container">
                                <div class="the-thao-side-articles">
                                    <div class="the-thao-side-articles-heading">
                                        <h3>Tin tức mới nhất</h3>
                                    </div>

                                    <div class="the-thao-side-article-1 the-thao-side-article">
                                        <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][5].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][5].hero_image %>" alt="">
                                            </a>
                                        </div>
                                        <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][5].name_alias %>"><%= TopArticlesEachCate[3][5].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-2 the-thao-side-article">
                                        <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][6].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][6].hero_image %>" alt="">
                                            </a>
                                        </div>
                                       <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][6].name_alias %>"><%= TopArticlesEachCate[3][6].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-3 the-thao-side-article">
                                         <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][7].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][7].hero_image %>" alt="">
                                            </a>
                                        </div>
                                        <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][7].name_alias %>"><%= TopArticlesEachCate[3][7].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-4 the-thao-side-article">
                                          <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][8].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][8].hero_image %>" alt="">
                                            </a>
                                        </div>
                                       <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][8].name_alias %>"><%= TopArticlesEachCate[3][8].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-5 the-thao-side-article">
                                        <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][9].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][9].hero_image %>" alt="">
                                            </a>
                                        </div>
                                        <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][9].name_alias %>"><%= TopArticlesEachCate[3][9].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-6 the-thao-side-article">
                                       <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][10].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][10].hero_image %>" alt="">
                                            </a>
                                        </div>
                                        <h3><a href="/article/transportArticle/<%= TopArticlesEachCate[3][10].name_alias %>"><%= TopArticlesEachCate[3][10].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-7 the-thao-side-article">
                                         <div class="the-thao-img-container">
                                            <a href="/article/transportArticle/<%= TopArticlesEachCate[3][11].name_alias %>">
                                                <img src="<%= TopArticlesEachCate[3][11].hero_image %>" alt="">
                                            </a>
                                        </div>
                                        <h3><a href="<%= TopArticlesEachCate[3][11].hero_image %>"><%= TopArticlesEachCate[3][11].heading %></a></h3>
                                    </div>

                                    <div class="the-thao-side-article-xem-them">
                                        <a href="/category/firstcategory/<%= categoryTree[3].name_alias%>?page=1&limit=15"><h3>Xem thêm</h3></a>
                                        <a href="/category/firstcategory/<%= categoryTree[3].name_alias%>?page=1&limit=15"><i class="bi bi-arrow-right fs-3"></i></a>
                                    </div>
                                </div>

                                <div class="the-thao-big-article">
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[3][0].name_alias %>">
                                        <img src="<%= TopArticlesEachCate[3][0].hero_image %>" alt="" class="the-thao-big-news">
                                        <img src="../assets/transparentPanel.png" alt="" class="transparent-panel">
                                    </a>
                                    <a href="/article/transportArticle/<%= TopArticlesEachCate[3][0].name_alias %>">
                                        <h2 class="the-thao-big-news-title"><%= TopArticlesEachCate[3][0].heading %></h2>
                                    </a>
                                </div>

                                <div class="the-thao-second-article-1 the-thao-section-article">
                                    <div class="the-thao-img-container">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][1].name_alias %>">
                                            <img src="<%= TopArticlesEachCate[3][1].hero_image %>" alt="">
                                            <img src="../assets/transparentPanel.png" alt="">
                                        </a>
                                        <h2 class="the-thao-section-article-2-heading the-thao-section-article-heading">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][1].name_alias %>"><%= TopArticlesEachCate[3][1].heading %></a>
                                    </h2>
                                    </div>
                                    
                                    <div class="the-thao-section-article-1-sub the-thao-section-sub">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][1].name_alias %>"><p><%= TopArticlesEachCate[3][1].content %></p></a>
                                    </div>
                                </div>

                                <div class="the-thao-second-article-2 the-thao-section-article">
                                    <div class="the-thao-img-container">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][2].name_alias %>">
                                            <img src="<%= TopArticlesEachCate[3][2].hero_image %>" alt="">
                                            <img src="../assets/transparentPanel.png" alt="">
                                        </a>
                                        <h2 class="the-thao-section-article-2-heading the-thao-section-article-heading">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][2].name_alias %>"><%= TopArticlesEachCate[3][2].heading %></a>
                                    </h2>
                                    </div>
                                    
                                    <div class="the-thao-section-article-1-sub the-thao-section-sub">
                                        <a href="/article/transportArticle/<%= TopArticlesEachCate[3][2].name_alias %>"><p><%= TopArticlesEachCate[3][2].content %></p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 5) { %>
                <div class="giai-tri-section container">
                    <div class="giai-tri-section-heading">
                        <div class="giai-tri-section-title">
                            <a href="/category/firstcategory/<%= categoryTree[4].name_alias%>?page=1&limit=15">
                                <h3 class="body-title-category">
                                    <%= categoryTree[4].name %>
                                </h3>
                            </a>
                        </div>
                        <% if (categoryTree[4].children.length) { %>
                            <div class="giai-tri-section-sub-title">
                                <% for ( var j=0; j < categoryTree[4].children.length; j++ ) { %>
                                    <a href="/category/secondcategory/<%= categoryTree[4].children[j].name_alias%>?page=1&limit=15">
                                        <p class="sub-menu-button">
                                            <%= categoryTree[4].children[j].name %>
                                        </p>
                                    </a>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                
                    <div class="giai-tri-item-1 shadow-hover scale-hover cursor-pointer">
                        <div class="giai-tri-item-1-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][0].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][0].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-item-1-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][0].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][0].heading %>
                                </h3>
                            </a>
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][0].name_alias %>">
                                <p>
                                    <%= TopArticlesEachCate[4][0].content %>
                                </p>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-item-2 shadow-hover scale-hover cursor-pointer">
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][1].name_alias %>">
                            <img src="<%= TopArticlesEachCate[4][1].hero_image %>" alt="">
                            <img src="../assets/transparentPanel.png" alt="" class="">
                        </a>
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][1].name_alias %>">
                            <h2 class="transparent-text">
                                <%= TopArticlesEachCate[4][1].heading %>
                            </h2>
                        </a>
                    </div>
                
                    <div class="giai-tri-item-3 shadow-hover cursor-pointer">
                        <div class="giai-tri-item-3-container">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][2].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][2].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-item-3-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][2].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][2].heading %>
                                </h3>
                            </a>
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][2].name_alias %>">
                                <p>
                                    <%= TopArticlesEachCate[4][2].content %>
                                </p>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-item-4 shadow-hover scale-hover cursor-pointer">
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][3].name_alias %>">
                            <div class="giai-tri-item-4-container">
                                <img src="<%= TopArticlesEachCate[4][3].hero_image %>" alt="">
                            </div>
                            <div class="giai-tri-item-4-article">
                                <h3>
                                    <%= TopArticlesEachCate[4][3].heading %>
                                </h3>
                                <p>
                                    <%= TopArticlesEachCate[4][3].content %>
                                </p>
                            </div>
                        </a>
                    </div>
                
                    <div class="giai-tri-item-5 shadow-hover scale-hover cursor-pointer">
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][4].name_alias %>">
                            <img src="<%= TopArticlesEachCate[4][4].hero_image %>" alt="">
                            <img src="../assets/transparentPanel.png" alt="" class="">
                        </a>
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][4].name_alias %>">
                            <h2 class="transparent-text-1">
                                <%= TopArticlesEachCate[4][4].heading %>
                            </h2>
                        </a>
                    </div>
                
                    <div class="giai-tri-item-6 shadow-hover scale-hover cursor-pointer">
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][5].name_alias %>">
                            <img src="<%= TopArticlesEachCate[4][5].hero_image %>" alt="">
                            <img src="../assets/transparentPanel.png" alt="" class="">
                        </a>
                        <a href="/article/transportArticle/<%= TopArticlesEachCate[4][5].name_alias %>">
                            <h2 class="transparent-text-1">
                                <%= TopArticlesEachCate[4][5].heading %>
                            </h2>
                        </a>
                    </div>
                
                    <div class="giai-tri-the-be-1 giai-tri-the-be shadow-hover cursor-pointer">
                        <div class="giai-tri-item-small-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][6].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][6].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-the-be-1-article giai-tri-the-be-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][6].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][6].heading %>
                                </h3>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-the-be-2 giai-tri-the-be shadow-hover scale-hover cursor-pointer">
                        <div class="giai-tri-item-small-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][7].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][7].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-the-be-1-article giai-tri-the-be-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][7].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][7].heading %>
                                </h3>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-the-be-3 giai-tri-the-be shadow-hover scale-hover cursor-pointer">
                        <div class="giai-tri-item-small-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][8].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][8].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-the-be-1-article giai-tri-the-be-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][8].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][8].heading %>
                                </h3>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-the-be-4 giai-tri-the-be shadow-hover scale-hover cursor-pointer">
                        <div class="giai-tri-item-small-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][9].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][9].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-the-be-1-article giai-tri-the-be-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][9].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][9].heading %>
                                </h3>
                            </a>
                        </div>
                    </div>
                
                    <div class="giai-tri-the-be-5 giai-tri-the-be shadow-hover scale-hover cursor-pointer">
                        <div class="giai-tri-item-small-container-img">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][10].name_alias %>">
                                <img src="<%= TopArticlesEachCate[4][10].hero_image %>" alt="">
                            </a>
                        </div>
                        <div class="giai-tri-the-be-1-article giai-tri-the-be-article">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[4][10].name_alias %>">
                                <h3>
                                    <%= TopArticlesEachCate[4][10].heading %>
                                </h3>
                            </a>
                        </div>
                    </div>
                
                </div>
            <% } %>

            <% if (TopArticlesEachCate.length >= 5) { %>
                <div class="giao-duc-section container" style="margin-top: 70px; margin-bottom: 120px;">
                <div class="edu-section">
                    <div class="edu-section-heading">
                        <div class="edu-section-title">
                            <a href="/category/firstcategory/<%= categoryTree[5].name_alias%>?page=1&limit=15"><h3 class="body-title-category"><%= categoryTree[5].name %></h3></a>
                        </div>
                        <% if (categoryTree[5].children.length) { %>
                            <div class="edu-section-sub-title">
                                <% for ( var j = 0; j < categoryTree[5].children.length; j++ ) { %>
                                    <a href="/category/secondcategory/<%= categoryTree[5].children[j].name_alias%>?page=1&limit=15"><p class="sub-menu-button"><%= categoryTree[5].children[j].name %></p></a>
                                <% } %>
                            </div>
                        <% } %> 
                    </div>
            
                    <div class="edu-main-content">
                        <div class="edu-item-1">
                            <a href="/article/transportArticle/<%= TopArticlesEachCate[5][0].name_alias %>">
                                <img src="<%= TopArticlesEachCate[5][0].hero_image %>" alt="Hình ảnh bài viết chính">
                            </a>
                            <div class="edu-item-1-article">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][0].name_alias %>">
                                    <h3><%= TopArticlesEachCate[5][0].heading %></h3>
                                </a>
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][0].name_alias %>">
                                    <p><%= TopArticlesEachCate[5][0].content %></p>
                                </a>
                            </div>
                        </div>
            
                        <div class="right-container">
                            <div class="edu-item-2">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][1].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][1].hero_image %>" alt="Hình ảnh bài viết chính">
                                    <h3><%= TopArticlesEachCate[5][1].heading %></h3>
                                </a>    
                            </div>
                            <div class="edu-item-2">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][2].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][2].hero_image %>" alt="Hình ảnh bài viết chính">
                                    <h3><%= TopArticlesEachCate[5][2].heading %></h3>
                                </a>  
                            </div>
                        </div>
            
                        <div class="extra-container">
                            <div class="edu-item-3">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][3].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][3].hero_image %>" alt="Hình ảnh bài viết">
                                    <h3><%= TopArticlesEachCate[5][3].heading %></h3>
                                </a>
                            </div>
                            <div class="edu-item-3">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][4].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][4].hero_image %>" alt="Hình ảnh bài viết">
                                    <h3><%= TopArticlesEachCate[5][4].heading %></h3>
                                </a>
                            </div>
                            <div class="edu-item-3">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][5].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][5].hero_image %>" alt="Hình ảnh bài viết">
                                    <h3><%= TopArticlesEachCate[5][5].heading %></h3>
                                </a>
                            </div>
                            <div class="edu-item-3">
                                <a href="/article/transportArticle/<%= TopArticlesEachCate[5][5].name_alias %>">
                                    <img src="<%= TopArticlesEachCate[5][6].hero_image %>" alt="Hình ảnh bài viết">
                                    <h3><%= TopArticlesEachCate[5][6].heading %></h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <% } %>

            
<%- include("partials/footer.ejs") %>



