<%- include("partials/header.ejs") %>

    <div class="page-container">
        <div class="container search-container">

            <div class="search-bar-big-container-on-page">
                <div class="search-bar-big">
                    <form action="/article/searchArticle" method="POST">
                        <input type="text" placeholder="Search..." class="search-bar-big-input" name="navbarTrenSb">
                    </form>
                    <i class="bi bi-search fs-1"></i>
                </div>
            </div>

            <img class="line6" src="../assets/timKiemBaiVietImages/dongKeMauDo.png" />

            <% if (data) { %>
                <% for ( let i = 0; i < data.length; i++ ) { %>
                    <div class="search-items">
                        <div class="image">
                            <a href="/article/transportArticle/<%= data[i].name_alias %>">
                                <img src="<%= data[i].hero_image%>" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="/article/transportArticle/<%= data[i].name_alias %>"><div class="title-section"><%=data[i].heading%></div></a>
                            <div class="date"><%=data[i].day_created%></div>
                            <div class="description">
                                <p>
                                    <a href="/article/transportArticle/<%= data[i].name_alias %>">
                                        <%=data[i].content%>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %> 
            <% } else { %>

            <% } %>

        </div>

<%- include("partials/footer.ejs") %>
 